node_modules/*
venv/*
704319.json
704319.txt
704319.vm
outputs/*

__pycache__/*
*.log

*.pyc

.vscode/settings.json
out/*
.VSCodeCounter/*
testcase/*
testcase_v1/*
summary_backup.html
summary_missed_954437.html
oriole_report.json
webfilter/*
artifacts/*
svn_testcases/*
v720/*
lib/tests/v720/
output
output.txt
test.txt
vm_codes.txt
tokens.json

output_backup
v720_testcase_errors.txt
v720_testcase_errors_report.txt
7.2.7_testcase_information.json
FortiOS_v7.4_Testcase_Information.json
lib/tests/trunk/
output.csv
trunk_output.txt
v720_error_testcases.csv
v720_testcase_errors_report_for_qa.txt
v740_error_testcases.csv
lib/tests/test_in_batch.py

testcase/trunk/*


build/
dist/
testcase_backup/
testcase/scripts/*

AutoLib_v3_back
test.py

testcase_backup2
env.501E.conf.local4.temp
.DS_Store
version.bak
