certifi
chardet
charset-normalizer
exceptiongroup
idna
iniconfig
Jinja2
markdown-it-py
MarkupSafe
mdurl
packaging
pandas
pexpect
pluggy
psutil
ptyprocess
Pygments
pytest
pytest-cov
pytest-mock
regex
requests
rich
setproctitle
synlinkpy
tftpy
tomli
tqdm
typing-extensions
urllib3
wget
zipp
