certifi==2023.7.22
chardet
charset-normalizer
exceptiongroup
idna==3.4
iniconfig
Jinja2
markdown-it-py
MarkupSafe
mdurl
packaging
pexpect==4.8.0
pluggy
psutil==5.9.5
ptyprocess==0.7.0
Pygments
pytest
regex
requests
rich
setproctitle
synlinkpy==0.0.13
tftpy==0.8.2
tomli
tqdm
typing-extensions
urllib3
wget
zipp
