search, y/n, 30
command, y, OK., 30
search, Restarting, 30, -1
sleep, 200
search, login:, 500, -1
command, admin, Password:, 30
command, admin, #, 30
command, config system console
command, set output standard
command, end
