<!DOCTYPE html>
<html>
    <head>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;

            }

            th {
                background-color: #dddddd;
            }

            h2 {
                text-align: center;
                background-color: lightgrey;
            }
        </style>
    </head>
    <body>
        <div>
            <h2 >AutoTest Running Info</h2>
            <table>
                <th> Environment File</th>
                <th> Test File</th>
                <th> Start Time</th>
                <th> End Time </th>
                <th> Duration</th>
                <tr>
                    <td><a href="/{{env_file}}">{{env_file}}</a></td>
                    <td><a href="/{{test_file}}">{{test_file}}</a></td>
                    <td>{{start_time}}</td>
                    <td>{{end_time}}</td>
                    <td>{{duration}}</td>
                </tr>
            </table>
        </div>

        <div>
            <h2 >Testcases Result Summary</h2>
            <table>
                <th> Total Test Case </th>
                <th> Passed </th>
                <th> Failed </th>
                <th> Not Tested</th>
                <th> Passed Percentage(%) </th>
                <tr>
                    <td>{{total_number}}</td>
                    <td>{{passed_number}}</td>
                    <td>{{failed_number}}</td>
                    <td>{{not_tested_number}}</td>
                    {%if failed_number == 0 %}
                        <td style="background-color:lightgreen;">{{passed_percentage}}</td>
                    {% else %}
                        <td style="background-color:red;">{{passed_percentage}}</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div>
            <h2 >Testscript Summary</h2>
            <table>
                <th> Testscript </th>
                <th> Status </th>
                <th> Elapsed Time(s)</th>
                {% for id, (status, duration) in testscripts.items() %}
                    <tr>
                        <td> {{id}}</td>
                        <td> {{status}} </td>
                        <td> {{duration}} </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
        <div>
            <h2 >Testcases Summary</h2>
            <table>
                <th>QAID</th>
                <th>Result</th>
                <th>Reported</th>
                {% for testcase in testcase_results %}
                    <tr>
                        <td> <a href="/{testcase.source_filepath}">{{testcase.id}}</a></td>
                        {%if testcase.res %}
                            <td style="background-color:lightgreen;">
                                Succeeded
                            </td>
                        {% else %}
                            <td style="background-color:red;">
                                Failed
                            </td>
                        {%endif%}
                        {%if testcase.reported %}
                            <td style="background-color:lightgreen;">
                                Reported
                            </td>
                        {% else %}
                            <td style="background-color:red;">
                                Not Reported
                            </td>
                        {%endif%}
                    </tr>
                {% endfor%}
                {% for testcase in not_tested_cases %}
                    <tr>
                        <td> {{testcase}}</td>
                        <td style="background-color:gray;">
                            Not Tested
                        </td>
                        <td style="background-color:gray;">
                            Not Reported
                        </td>
                    </tr>
                {% endfor%}
            </table>
            {%if failed_number != 0 %}
                <h2> Failed Testcases Details</h2>
                <table>
                    <th> QAID </th>
                    <th> Details </th>
                    {% for testcase in testcase_results -%}
                        {%if not testcase.res %}
                            <tr>
                                <td>{{testcase.id}}</td>
                                <td>
                                    <table>
                                        <th> line number </th>
                                        <th> expect </th>
                                        <th> output </th>
                                        {% for detail in testcase.details -%}
                                            <tr>
                                                <td>{{detail.line_num}}</td>
                                                <td>{{detail.expect}}</td>
                                                <td>

                                                        {{detail.output}}

                                                </td>
                                            </tr>
                                        {% endfor%}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </body>
</html>
